# shellcheck shell=bash
source $HOME/.config/direnv/envrc
use flake
export AOC_DIR=$(dirname $PWD)
export MACOSX_DEPLOYMENT_TARGET=15.2
# export LAKE_ARTIFACT_CACHE=true
# export LAKE_CACHE_DIR=$HOME/.cache/lake
